
@{
    ViewBag.Title = "SDeSaude";
}



<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">"S" de Saúde</h1>
        <p class="lead">Tudo que você precisa saber sobre!</p>
        <hr class="my-2">

    </div>
</div>


<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="border border-success">
                    <div class="card-body">
                        <h5 class="card-title">Alimentação Saudável</h5>
                        <p class="card-text">Veja detalhes sobre Alimentação Saudável</p>
                        @Html.ActionLink("Visitar", "AlimentacaoSaudavel", "EnfermagemDoTrabalho", new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="border border-success">
                    <div class="card-body">
                        <h5 class="card-title">Atividade Física</h5>
                        <p class="card-text">Veja detalhes sobre Atividades Físicas</p>
                        
                        @Html.ActionLink("Visitar", "AtividadeFisica", "EnfermagemDoTrabalho", new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="border border-success">
                    <div class="card-body">
                        <h5 class="card-title">Curiosidades</h5>
                        <p class="card-text">Veja curiosidades sobre Saúde</p>
                        @Html.ActionLink("Visitar", "Curiosidades", "EnfermagemDoTrabalho", new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="border border-success">
                    <div class="card-body">
                        <h5 class="card-title">Doção de sangue</h5>
                        <p class="card-text">Veja informações sobre doações de sangue</p>
                        @Html.ActionLink("Visitar", "DoacaoSangue", "EnfermagemDoTrabalho", new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="border border-success">
                    <div class="card-body">
                        <h5 class="card-title">Hipertensão Arterial</h5>
                        <p class="card-text">Veja informações sobre Hipertensão Arterial</p>
                        @Html.ActionLink("Visitar", "Hipertensao", "EnfermagemDoTrabalho", new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="border border-success">
                    <div class="card-body">
                        <h5 class="card-title">Obesidade</h5>
                        <p class="card-text">Veja informações sobre a Obesidade</p>
                        @Html.ActionLink("Visitar", "Obesidade", "EnfermagemDoTrabalho", new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="border border-success">
                    <div class="card-body">
                        <h5 class="card-title">Saúde Bucal</h5>
                        <p class="card-text">Veja informações sobre Saúde Bucal</p>
                        @Html.ActionLink("Visitar", "SaudeBucal", "EnfermagemDoTrabalho", new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="border border-success">
                    <div class="card-body">
                        <h5 class="card-title">Saúde da Mulher</h5>
                        <p class="card-text">Veja informações sobre a Saúde da Mulher</p>
                        @Html.ActionLink("Visitar", "SaudeMulher", "EnfermagemDoTrabalho", new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="border border-success">
                    <div class="card-body">
                        <h5 class="card-title">Saúde no Trabalho</h5>
                        <p class="card-text">Veja informações sobre Saúde do Trabalho</p>
                        @Html.ActionLink("Visitar", "SaudeTrabalho", "EnfermagemDoTrabalho", new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="border border-success">
                    <div class="card-body">
                        <h5 class="card-title">Tabagismo</h5>
                        <p class="card-text">Veja informações sobre o Tabagismo</p>
                        @Html.ActionLink("Visitar", "Tabagismo", "EnfermagemDoTrabalho", new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>



</div>









    